
@media screen and (min-width: 1200px){
    .intro-subtitle {
        font-size: 4rem !important
    }
}

@media screen and (min-width: 992px){

    intro-subtitle {
        font-size: 3rem;
    }
}

.btn-outline-white-4:hover{
    background-color: transparent !important;
    border-color: none !important;
    box-shadow: none;
}


.intro-content .btn{
    
    background-image: url(../btn/button-home.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    border: none !important;
    font-weight: bold;
}

.intro-content .btn:hover{
    background-image: url(../btn/button-home-hover.png) !important;  
    color: #e51947; 
}

.owl-theme.owl-light .owl-nav :hover{
    color: #c09b85 !important;
}





