.banner-subtitle.text-white a{

    font-size: 2rem;
    font-weight: bold
}

.banner-title strong{
    font-size: 3rem;
    font-weight: bold;
}


.banner-link.underline:hover{

    background-image: url(../btn/button-home-hover.png) !important;   
    background-color: transparent !important;
    color: #e51947;
    
}



.banner .banner-link.btn{
    border-bottom: none !important;
    background-image: url(../btn/button-home.png);
    background-size: 100% 45px;
    background-repeat: no-repeat;
    border: none !important;
    font-weight: bold;
}
@media screen and (min-width: 768px){

    .banner .banner-link.btn{
        font-size: 1.5rem !important;
        
    }
}

